
body{
	margin: 0 auto;
	width: 1000px;
	font-family: 'Open Sans', sans-serif;
}


header h1{
	text-align: center;
	color: #104E8B;
	text-shadow: 2px 2px #DCDCDC;
}

nav{
	position: relative;
	text-align: center;
	width: 1000px;
	height: 2.55556em;
	margin: 0 auto 1em;
	z-index: 9999;
	font-size: 18px;
}

nav ul li{
	width: 1000px;
	list-style-type: none;
	display: inline;
	margin: 10px;
}

h1, h2, h3{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #104E8B;
	text-shadow: 2px 2px #DCDCDC;
}

/* unvisited link */
a:link {
    color: #00008B;
}

/* visited link */
a:visited {
    color: #1C86EE;
}

/* mouse over link */
a:hover {
    color: #BEBEBE;
}

/* selected link */
a:active {
    color: ##1C86EE;
}





footer{
	text-align: center;
	width: 1000px;
	margin: 0 auto 1em;
	position: relative;
}


